.profile {
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px 10px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: block;
  flex-direction: column;
  background-color: var(--dark2);
}
.profile__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4px;
  border-bottom: 2px solid var(--dark1);
}
.profile__header .MuiSvgIcon-root {
  color: var(--gray-color);
}
.profile__header .MuiSvgIcon-root:hover {
  color: var(--white-color);
}
.profile__section {
  display: flex;
  padding: 6px 0;
  border-bottom: 1px solid var(--dark1);
}
.profile__section span {
  font-size: 10px;
  text-transform: uppercase;
}
.profile__section button {
  color: var(--gray-color);
  background-color: var(--dark3);
  padding: 6px;
  border: none;
  outline: 0;
  border-radius: 4px;
  transition: 0.3s ease;
}
.profile__section button:hover {
  color: var(--white-color);
  background-color: var(--red-color);
}
.profile__avatar {
  display: grid;
  padding: 6px 0;
  gap: 6px;
}
.profile__section .MuiCircularProgress-root {
  font-size: 12px;
  color: var(--red-color);
}
.profile__avatar > img {
  grid-column: 1/1;
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 6px;
}
.profile__avatar > div {
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: left;
}
.profile__avatarButton {
  align-items: center;
  justify-content: center;
  text-transform: none;
  font-size: 14px;
  color: var(--gray-color);
  background-color: var(--dark3);
  padding: 6px;
  border: none;
  outline: 0;
  border-radius: 4px;
  transition: 0.3s ease;
}
.profile__avatarButton:hover {
  color: var(--white-color);
  background-color: var(--red-color);
}
.profile__name {
  flex-direction: column;
  border: none;
}
.profile__name > div {
  justify-content: space-between;
}
.profile__email {
  flex-direction: column;
}
.profile__email > div {
  justify-content: space-between;
}
.profile__password {
  gap: 6px;
}
.profile__password > div {
  flex-direction: column;
  gap: 6px;
}
.profile__edit,
.profile__editButtons {
  display: flex;
  align-items: center;
  gap: 6px;
}
.profile__edit input {
  color: var(--white-color);
  background-color: var(--dark1);
  border: none;
  padding: 4px;
  border-radius: 4px 4px 0 0;
  transition: 0.3s ease;
}
.profile__edit input:focus {
  outline: none;
  border-bottom: 1px solid var(--red-color);
}
.profile__edit .MuiSvgIcon-root {
  color: var(--gray-color);
}
.profile__edit .MuiSvgIcon-root:hover {
  color: var(--white-color);
}
.profile__passwordChange {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 6px;
}
.profile__passwordChange > span,
label {
  font-size: 10px;
  text-transform: uppercase;
}
.profile__passwordChange > span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.profile__passwordChange > form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 6px;
  margin: 6px 0;
}
.profile__delete {
  padding: 16px 0;
}
.profile__delete > button {
  width: 50%;
  color: red;
  background-color: var(--dark2);
  border: 1px solid red;
  padding: 6px;
  border-radius: 4px;
}
.profile__delete > button:hover {
  color: var(--white-color);
  background-color: red;
}
.profile__deleteAccount {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark3);
  border-radius: 4px;
  gap: 10px;
  width: 100%;
  padding: 10px;
}
.profile__deleteAccountButtons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.profile__deleteAccountButtons > button {
  padding: 6px;
  font-size: 10px;
  text-transform: uppercase;
  width: 40%;
}
.profile__deleteAccountButtons .deleteButton {
  background-color: rgba(255, 0, 0, 0.705);
  color: var(--gray-color);
}
.profile__deleteAccountButtons .deleteButton:hover {
  background-color: red;
  color: var(--white-color);
}
.profile__deleteAccountButtons .cancelButton {
  border: 1px solid var(--red-color);
  color: var(--gray-color);
}
.profile__deleteAccountButtons .cancelButton:hover {
  background-color: var(--red-color);
  color: var(--white-color);
}
.profile__reauthenticate {
  justify-content: space-around;
}
.profile__reauthenticate > button {
  background-color: rgba(255, 0, 0, 0.705);
  color: var(--gray-color);
}
.profile__reauthenticate > button:hover {
  background-color: red;
  color: var(--white-color);
}
